/*! == MEDIA QUERIES == */

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {

body:before {
  content: 'LARGE';
  position: fixed;
  z-index: 9999;
  top:0; 
}

body {
    font-size: 0.85em;
}
 /*---GLOBALS---*/ 

/*---HEADER---*/ 

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {

body:before {
    content: 'MEDIUM';
    position: fixed;
    z-index: 9999;
    top:0;
  }
  
 /*---GLOBALS---*/ 

body {
    font-size: 0.75em;
}
 
 /*---HEADER---*/

/*---CONTENT---*/

/*---FOOTER---*/
  
}/*---end medium mq---*/



/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {

body:before {
    content: 'SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
}

/*---GLOBALS---*/

/*---HEADER---*/

/*---CONTENT---*/
 

  
/*---FOOTER---*/


}/*---end small mq---*/


/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
body:before {
    content: 'EXTRA SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }

body {
    font-size: 0.6em;
}
  
/*---GLOBALS---*/

/*---HEADER---*/

.scrolled nav .brand a {
    height: 3.5em;
}

/*---CONTENT---*/

.wrapper-hero.home {
    align-items: flex-end;
    padding-bottom: 15em;
    background-position: left center !important;
}

.wrapper-hero .front-image {
    background-position: left center !important;    
}

a.next-section {
    margin-bottom:7em;
    
    &:hover:before {
        height: 0;
    }
}

.ticket {
  grid-template-rows: repeat(5, auto);

    &__title {
        grid-area: 1/1/2/4;
    }
    
    &__places {
        grid-template-columns: 1fr;
        
        .heading, p {
            display: none;
        }
    }
    
    &__from {
      grid-area: 2/1/3/3;  
    }
    
    &__to {
      grid-area: 3/1/4/3;  
    }
    
    &__location {
      grid-area: 4/1/5/4;
      }
    
    &__book {
      grid-area: 3/4/5/5;  
      align-self: flex-end;
    }
    
    &__empty p {
      padding-left: 0;
      line-height: 1em;
    }

    &__cost {
        grid-area: 2/3/4/4;
        align-self: flex-start;
    }

}

.gallery a {
    min-height: 10em;
}

.post-summary__item {
    display: block;
    
    .post-image {
        margin-bottom: 2em;
    }    
}

.inline-cta .container {
    grid-template-columns: 1fr;
}

.blog .post-summary__item {
    margin:0 15px 2em;
}

.coupon {
  display: block;
  width: 100%;
  float: none;
  margin-bottom: 2em;
}

#coupon_code {
  font-size: 1.5em;
  margin: 0 1em 1em 0;
  text-align: center;
  width: 100%;
}

.actions .button {
  float: none;
  display: block;
  width: 100%;
  margin: 0;
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-checkout-review-order,
.form-row {
  display: block;
}

.woocommerce-input-wrapper .input-text {
  width: 100%;
}

.woocommerce-checkout-review-order-table {
    margin-bottom: 2em;
}

.woocommerce-terms-and-conditions-wrapper {
    text-align: center;
}

.place-order .button {
    width:100%;
    }

/*---FOOTER---*/

footer .wrapper-hero.home {
    height: 50vh;  
    padding-bottom: 2em;
}

.partner-logos img {
    max-height: 20px;
}

.logo-holder {
  text-align: right;
  }

.socket__colophon {
  text-align: center;
}  
  
  
  
}/*---end extra small mq---*/

